In [16]:
import matplotlib.pyplot as plt
import pandas as pd
from pandas.plotting import table

In [2]:
disp = pd.read_excel('DISP.xlsx', sheet_name=None, parse_dates=['Ship Date'])

In [4]:
df = pd.concat(disp)

In [17]:
df = df.sort_values("Acquisition Value", ascending=False)
modified_df = df.iloc[:10].loc[:, ("State", "Station Name (LEA)", "Item Name", "Quantity", "Acquisition Value")]

In [21]:
ax = plt.subplot(111, frame_on=False) # no visible frame
ax.xaxis.set_visible(False)  # hide the x axis
ax.yaxis.set_visible(False)  # hide the y axis

table(ax, modified_df)  # where df is your data frame

plt.close()

In [37]:
df.sort_values("Acquisition Value").iloc[:155].loc[:, ("Acquisition Value", "Item Name")]

,,Acquisition Value,Item Name
Texas,2807,0.00,"SHIPPING AND STORAGE CONTAINER,MISCELLANEOUS E..."
Florida,529,0.00,"LIFT,MOTOR VEHICLE"
Ohio,7315,0.00,"CLEANER,VACUUM,PNEUMATIC"
South Carolina,2629,0.00,"SHIPPING AND STORAGE CONTAINER,MISCELLANEOUS E..."
Kentucky,2225,0.00,"TRAILER,BOAT MOVING"
...,...,...,...
Indiana,4866,0.00,"CAMERA,WEB"
Virginia,702,0.00,LAWN MOWER
Washington,1070,0.00,"FIRST AID KIT,MOTOR VEHICLE"
Ohio,3563,0.01,SMALL ARMS AMMO CAN
North Carolina,2000,0.01,ONLY COMPLETE COMBAT/ASSAULT/TACTICAL WHEELED ...